@use './partials/reset.scss';
@use './partials/header.scss';
@use './partials/hero.scss';
@use './partials/main.scss';
@use './partials/awards.scss';
@use './partials/services.scss';
@use './partials/products.scss';
@use './partials/footer.scss';
@use './partials/carousel.scss';
@use './partials/reviews.scss';
@use './partials/blogs.scss';

.lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }