.col-4{
    width: calc((4 * 100%) / 12);
    background-image: url("/img/avadabarbers-cta-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    //height: 600px;
    
}

.col-8{
    width: calc((8 * 100%) / 12);
    background-color: #181a1a;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    //gap: 30px;
}
.row-carousel{
    gap: 0;
    border-top: 7px solid  #be9359 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;

}

.container-carousel{
    width: 1000px;
    display: flex;
    margin: 0 auto;
    
}
.col-8 h1{
    color: #b0b0b0;
    //text-align: center;
    font-size: 60px;
}
.col-8 p{
    padding: 20px 0;
}

.button-carousel{
    border: 3px solid ;
    padding: 15px 15px;
    width: 150px;
    text-align: center;
    color: #be9359;
}