.bg-191a1a {
    background-color: #191a1a;
   
}
.bg-1c1d1e{
    background-color: #1c1d1e;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-footer{
    padding: 50px 0;
}
.row-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.card-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
     
}


.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.orange-color{
    color: #be9359;
}
.button-footer{
    border: 3px solid ;
    padding: 15px 15px;
    width: 290px;
    text-align: center;
    color: #be9359;
    //font-size: 20px;
}
.white-color{
    color:white;
}
.grey-color{
    color: #5d5b5b;
}
.dark-grey{
    color: #292929;
}
.button-footer:hover{
    //margin: 15px;
    background-color: #be925910;
    cursor: pointer;
}
.home{
    border-radius: 5px;
    background-color: #333333;
    padding: 10px 10px 0 10px;
    position: fixed;
    bottom:0;
    right: 100px;
    color: white;
}